.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.page__container {
}

.page__overlay {
    opacity: 15%;
}

/* Oculta a barra de rolagem para o Chrome, Safari e Edge. */
body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}